.slick-dots{
    display: flex !important;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100px;
    max-width: 500px;
    align-items: center;
    background-color: yellow;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background-color: transparent;
    box-shadow: 4px 4px 10px #ddd;
    border-radius: 8px;
    gap: 10px;
}
.slick-dots::-webkit-scrollbar {
    display: none !important; /* Safari and Chrome */
  }
.slick-dots>li{
    height: 80%;
    width: 80px;
    border-radius: 8px;
}
.slick-dots .slick-active {
    /* border: 2px red solid; */
    transition: ease-in-out 1s ;
    transform: scale(1.2);
}
.slick-track{
    background: none;
    border: none;
}
.slick-slide div {
    outline: none;
}