.active>div:first-child {
    width: 100%;
    transition-delay: 2s;
}

.active>div:first-child>input {
    width: 100%;
    margin-left: 1%;
    animation: reveal 2s forwards;
    background-color: none;
    box-shadow: 2px 2px 10px 1px #ddd;
}

.active>div:first-child>Button {
    background-color: white;
}

.active {
    width: 100%;
    transition-delay: 2s;
    background-color: none;
}

.inactive>div:first-child {
    width: 0.1px;
    transition-delay: 2s;
}
.inactive>div:first-child>input {
    width: 0.1px;
    animation: unreveal 2s forwards;
}

@keyframes reveal {
    from {
        clip-path: inset(0 0 0 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes unreveal {
    from {
        clip-path: inset(0 0 0 0);
    }

    to {
        clip-path: inset(0 0 0 100%);
    }
}